ament_copyright==0.17.1
ament_flake8==0.17.1
ament_index_python==1.8.1
ament_pep257==0.17.1
cvxpy==1.6.3
geometry_msgs==5.3.5
launch_ros==0.26.6
leap==0.0.1
leapmotion==1.0
matplotlib==3.6.3
numpy==2.3.2
pytest==7.4.4
rclpy==7.1.3
roboticstoolbox_python==1.1.1
scipy==1.16.1
sensor_msgs==5.3.5
setuptools==68.1.2
spatialmath_python==1.1.14
std_msgs==5.3.5
tf_transformations==1.1.0
torch==2.6.0
visualization_msgs==5.3.5
